[submodule ".vim"]
	path = .vim
	url = https://github.com/glsignal/vim-conf
[submodule "z-zsh"]
	path = z-zsh
	url = https://github.com/rupa/z
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
